*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:#f3f4f5;
color:#252525;
}

.navbar{
background:#3b141c;
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 40px;
}

.logo a{
font-family:"Miniver", sans-serif;
color:#ffffff;
text-decoration:none;
font-size:1.6rem;
}

.nav-links{
display:flex;
align-items:center;
gap:25px;
}

.nav-links a{
color:#ffffff;
text-decoration:none;
font-size:0.95rem;
transition:0.3s;
}

.nav-links a:hover{
color:#f3961c;
}


.cart-section{
padding:70px 60px;
}

.cart-container{
display:grid;
grid-template-columns:2fr 1fr;
gap:40px;
}


.cart-left h1{
font-size:2rem;
margin-bottom:10px;
}

.subtitle{
color:#777;
margin-bottom:30px;
}

.empty-card{
background:#ffffff;
padding:50px 30px;
border-radius:16px;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
text-align:center;
}

.cart-icon{
font-size:70px;
color:#cccccc;
margin-bottom:20px;
}

.empty-card h2{
margin-bottom:10px;
}

.empty-card p{
color:#777;
margin-bottom:20px;
}

.btn-explorar{
background:#3b141c;
color:#ffffff;
border:none;
padding:12px 25px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.btn-explorar:hover{
background:#f3961c;
}

.summary-box,
.shipping-box{
background:#ffffff;
padding:25px;
border-radius:16px;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
margin-bottom:25px;
}

.summary-box h3,
.shipping-box h3{
margin-bottom:15px;
}

.line{
display:flex;
justify-content:space-between;
margin:10px 0;
}

.total{
display:flex;
justify-content:space-between;
margin-top:15px;
padding:10px;
border:1px solid #cccccc;
border-radius:10px;
font-weight:bold;
}

.free{
color:green;
font-weight:bold;
}

.shipping-box input{
width:100%;
padding:12px;
margin-bottom:15px;
border-radius:10px;
border:1px solid #cccccc;
}

.row{
display:flex;
gap:15px;
}

.btn-finalizar{
width:100%;
background:#f3961c;
color:#ffffff;
border:none;
padding:12px;
border-radius:12px;
cursor:pointer;
transition:0.3s;
margin-top:10px;
}

.btn-finalizar:hover{
background:#3b141c;
}

.benefits{
margin-top:15px;
font-size:0.9rem;
color:#555;
}

.benefits p{
margin-bottom:5px;
}

@media(max-width:900px){

.cart-container{
grid-template-columns:1fr;
}

.cart-section{
padding:50px 20px;
}

.row{
flex-direction:column;
}

}